.lobby-container {
    display: flex;
}

.game-info-section {
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-title {
    font-size: 24px;
    color: #333;
}

.game-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.room-info,
.players-info {
    flex: 1;
}

.room-code {
    font-size: 36px;
    color: #4CAF50;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
        margin-bottom: 5px;
}

@keyframes lastpulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.player-list {
    padding: 0;
    margin: 0;
    position: fixed;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.1);
    color: #ffffff;
    padding: 20px;
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the width of the columns as needed */
  grid-gap: 20px; /* Adjust the gap between items as needed */
}

@media screen and (max-height: 600px) {
  .player-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust column width for smaller height */
  }
}
  
  .player-item {
    margin-bottom: 10px;
    font-size: 25px;
    color: #ffffff;
    background-color: #b9b9b9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Dramatic bounce effect */
    animation: pulse 1s infinite; /* Pulse animation */
    flex-grow: 1; /* Allow player items to grow and take available space */
  }
  
/* Add styles for the Result and GameS components if needed */
.player-item.answered {
    background-color: #4CAF50; /* Change to green for answered players */
     animation: pulse 1s infinite ;
}

.player-item.answered2 {
    background-color: #4CAF50; /* Change to green for answered players */
     animation: lastpulse 1s;
}
.round-counter {
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #4CAF50;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
}
.round-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0%;
    border-radius: 10px;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: #fff;*/
    padding: 20px;
}